html
  body
    | Hello! You have found the API page. Here are your instructions to see everything this API does.
    p
    p
    | To find things in the InvTypes database. the following URl is provided as;
    p
    | /api/InvTypes/s/NUMBER
    p
    | for example
    p
    a(target="_blank" href="https://skipptekk.com/api/InvTypes/i/2161") /api/InvTypes/i/2161
    |  brings us to the Crucifier. Notice the i in the URL? That means ID
    p
    p
    | Now to get the Ship directly. It&apos;s very case sensitive!
    p
    p
    a(target="_blank" href="https://skipptekk.com/api/InvTypes/s/Crucifier")
      | /api/InvTypes/s/Crucifier
      a
      |  brings us the Crucifier BUT with the ship name. Basically for new people that don&apos;t know the ID. Notice the s in the URL? That means SHIP.
      p
    a(target="_blank" href="https://skipptekk.com/api/InvTypes/b/Crucifier")
      | /api/InvTypes/b/Crucifier
      a
      |  brings us the ingredtients to build the ship. But it's NPC 0-0 blueprint info. But numbers don't count. JUST the ship name.
      p
      | PS. 
      a(target="_blank" href="https://skipptekk.com/api/InvTypes") /api/InvTypes
      |  is slow as fuck as it needs to load the database. So please be patient with it and don&apos;t bitch about it. 37k+ it has to read and display. Sooo...