doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Home Page
    link(href="./css/bootstrap.css" rel="stylesheet")
    script(src="./js/jquery-3.4.1.min.js")
  body
    .jumbotron.text-center(style="margin-bottom:30px")
      h1 Biscuits Industrial
      h3  Eve Online, Spreadsheets in space
include ./include/indexnavbar.pug
include ./contents/announcements.pug
section.container-fluid
  .row
    .col-md-3.leftNav
      script(type="text/javascript" src="//cdn.jsdelivr.net/gh/restingcoder/discord-widget@1.1/discord-widget.min.js")
      script(type="text/javascript").
        discordWidget.init({
        serverId: '656049566046748694',
        title: 'Biscuits Industry',
        join: true,
        joinText: 'Join Server',
        alphabetical: false,
        theme: 'dark',
        hideChannels: ['Channel Name 1', 'Channel Name 2'],
        showAllUsers: true,
        allUsersDefaultState: true,
        showNick: true,
        userName: '',
        useCDN: true
        });
        discordWidget.render();
      .discord-widget
    .col-md-6.content
      h1 Welcome
      p
        | Welcome to my website! It&apos;s currently being developed so please. Don&apos;t hate it too much. I&apos;m a very new coder (haven&apos;t made a website in about 6 years or so) and i have forgotten it all. So please. This is a refresher for me! If you wish to give me a hand, that would be awesome! :D
      p
      p
        | The only ones are working are in the Navbar for Frigate Class, nothing else works right now.
      p
      p
        | Warning! This website is in Dev mode so LITTLE progess will be given, It&apos;s being made by someone with barely any knowledge on Html, php and java. Thanks Mike for helping me get this started!
      p
      p
        | If you wish to help, you can help me with pointers by mailing any of the toons left and right, or send isk to Biscuits on the right side Donations are appreciated and lets me know who is interested. (it&apos;s classified unless you tell me in the donation you want to be known)
      p
      p
        | I have also create a 
        a(target="_blank" href="https://www.patreon.com/BiscuitsIndustrial")  Patreon 
        | for anyone that wishes to assist on building the website, Or if it helped you out in any way!
      p
      p
        a(href="https://www.patreon.com/bePatron?u=178136" data-patreon-widget-type="become-patron-button") Become a Patron!
        script(async="" src="https://c6.patreon.com/becomePatronButton.bundle.js")
      p
      p
        | Or if you wish not to spend real money, feel free to send Isk as a donation with a description with &quot;Biscuits Industry&quot; and hopefully I can get you a cool icon on the website for future use :)
        // 16:9 aspect ratio
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://player.twitch.tv/?channel=skipptekk&muted=true")
    .col-md-3.reletedContent
      .class-media
        .media-left
          h4.media-heading I Like Biscuits.
          a(href="https://evewho.com/pilot/I+like+biscuits" target="_blank")
            img.media-object(src="https://images.evetech.net/characters/95046472/portrait" style="max-width: 100%; max-height: 100%;" alt="Ship Image goes Here, Mail SkippTekk or tweet @XGKIPPY for a fix")
  // Footsie for the footer
include ./include/footer.pug
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
