body
    .alert.alert-success(role="alert")
        | SSO doesn&apos;t work.
        p
        | A huge rework has been implemented. Website now works in Mobile and desktop Much cleaner now! Hope you guys enjoy. 
        hr
        | &#x9;&#x9; Looking for coders! Would be great if you mailed me or joined the discord
        button
            .close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;